# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
# .env file for environment variables
.env

# Editor backups
.vscode/
.idea/

# Migrations (for SQLAlchemy or other frameworks)
migrations/

# Jupyter Notebooks
.ipynb_checkpoints/

# Test coverage
.coverage
*.coverage

# Build directories
build/
dist/
*.egg-info/

# Pytest
.cache/

# Logs
*.log
